# Node
node_modules/
sparx-ui/node_modules/
dist/
sparx-ui/dist/
sparx-ui/dist-electron/
sparx-ui/out/
.env

# Python / Backend
sparx-ai-engine/venv/
sparx-ai-engine/__pycache__/
.pytest_cache/

# Local Vector Database
sparx-ai-engine/sparx_memory/

# OS Files
.DS_Store
Thumbs.db