# Node
node_modules/
dist/
dist-electron/
out/
.env

# Python
sparx-ai-engine/venv/
sparx-ai-engine/__pycache__/
.pytest_cache/

# Local Vector Database
sparx-ai-engine/sparx_memory/

# OS Files
.DS_Store
Thumbs.db